{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
      <p style="color: red">Имя пользователя и пароль не совпадают. Попробуйте снова.</p>
    {% endif %}
    <div class = "login">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="Войти" />
        <p>Вы еще не зарегистрированы?</p>

        <p><a href="{% url 'signup'%}">Зарегистрируйтесь.</a></p>
        <input type="hidden" name="next" value="{{ next }}" />

    </form>
    </div>
{% endblock %}
