{% load staticfiles %}

{% load cloudinary %}


<html>
<head>
  <title>Kilogramm</title>

    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <script>
  $(document).ready(function(){
    $('.likebut, .likebutdet').on("click", function(){
      var postpk;
      postpk = $(this).attr("data-postpk");
      $("span", this).toggleClass("glyphicon-heart glyphicon-heart-empty");
      $.get('/add_like/', {pk: postpk}, function(data){
        $('#'+postpk).html(data);
      });
    });
    $('.delcbut').on("click", function(){
      var postpk, commentpk;
      postpk = $(this).attr("data-postpk");
      commentpk = $(this).attr("data-commentpk");
      $.get('/comment/remove/', {pk: commentpk}, function(){
        $('#comments'+commentpk).remove();
      });
    });
  function getCookie(c_name)
   {
       if (document.cookie.length > 0)
       {
           c_start = document.cookie.indexOf(c_name + "=");
           if (c_start != -1)
           {
               c_start = c_start + c_name.length + 1;
               c_end = document.cookie.indexOf(";", c_start);
               if (c_end == -1) c_end = document.cookie.length;
               return unescape(document.cookie.substring(c_start,c_end));
           }
       }
       return "";
    }
  $('.commentform').submit(function(event) {
      event.preventDefault();
      var postpk, commenttext, lastcom;
      postpk = $(this).attr('data-postpk');
      commenttext = $(this).find('.commentinput, .commentdetinput').val();
      console.log(postpk, commenttext);
      $.ajax({
          headers: { "X-CSRFToken": getCookie("csrftoken") },
          type: 'POST',
          url: '/post/comment/',
          dataType: 'JSON',
          data: { pk: postpk, the_comment: commenttext},
          success: function (data) {

                $('#post'+postpk).append($('<li>').attr('style','list-style: none; padding-bottom: 2%;').append(
                  "<strong>"+data.author+"</strong>  <t> "+data.text+"</t></br>"));
              $("#commentform"+postpk).find("input[type=text], textarea").val("");
          },
    });
  });

});
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $(".dropdown-menu li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
</head>
<body>
    <nav class="navbar " >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Kilogramm</a>
        </div>
          <div class="dropdown" style="margin-left: 10%; margin-top: 0.8%;" >
            <input class="form-control" id="myInput" type="text" placeholder="Поиск"  data-toggle="dropdown">
              </input>
              <ul class="dropdown-menu" style="max-height: 160px; overflow-y: auto; width: 220px; min-height: 40px;">
                      {% for listuser in userlist%}
                      <a href="{% url 'user_profile' userp=listuser.username%}" >  <li class="searchline">
                        <img src=" {{ listuser.profile.profpic.url }} " class="img-circle" style="height:30px; width:30px;  margin-right: 3%;">
                         <strong>{{listuser.username}}</li></strong> </a>

                      {% endfor %}
              </ul>
            </div>

          <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
                <li><strong ><img src=" {{ user.profile.profpic.url }} " class="img-circle" height="45" width="45" >
                   <a title="{{user}}" href="{% url 'user_profile' userp=user.username%}">{{ user }} </a></strong ></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a data-toggle="tooltip" title="Профиль" href="{% url 'user_profile' userp=user.username %}"><span class="glyphicon glyphicon-user"style="font-size:2em;"></span></a></li>
            <li><a data-toggle="tooltip" title="Добавить пост" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"style="font-size:2em;"></span></a></li>
          {% else %}
            <li><a data-toggle="tooltip" title="Зарегистрироваться" href="{% url 'signup' %}"><span class="glyphicon glyphicon-pencil"style="font-size:2em;"></span></a></li>
            <li><a data-toggle="tooltip" title="Войти" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"style="font-size:2em;"></span></a></li>
          {% endif %}

          </ul>
      </div>
    </nav>
  <div class="content container">
    <div class="row">
      <div class="col-md-12">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

</body>
</html>
