{% extends 'blog/base.html' %}
{% load humanize %}
{% block content %}


<div class="col-md-2" >
</div>
<div class="col-md-7">
{% for post in posts %}
  <div class="wel" >
    <strong class="posttopline"><img src=" {{ post.author.profile.profpic.url }} " class="img-circle" height="35" width="35">
       <a title="{{post.author}}" href="{% url 'user_profile' userp=post.author.username%}">{{ post.author }}</a></strong >
    <h1><a href="{% url 'post_detail' pk=post.pk %}"><img src=" {{ post.postpic.url }} " class="img-responsive postpic"   ></a></h1>

    <ul >
      {% if user in post.likedone.all %}
        <button class="likebut" type="button" data-postpk="{{post.pk}}">
        <span class="glyphicon glyphicon-heart" style="font-size:2em;"></span></button>
      {% else %}
        <button class="likebut" type="button" data-postpk="{{post.pk}}">
        <span class="glyphicon glyphicon-heart-empty" style="font-size:2em;"></span></button>
      {% endif %}
      </br>
      <t><strong class="likesdone" id="{{post.pk}}">{{ post.likedone.count }} </strong><strong> отметок "Нравится"</strong></t>
      <div class="listcomsec" id="post{{post.pk}}">
      <li class="r">
        <a class="nontranslate" title="{{post.author}}" href="{% url 'user_profile' userp=post.author.username%}">{{ post.author }}</a>
        <span>{{ post.text|linebreaksbr }}</span>
      </li>
      {% for comment in post.comments.all %}
      <li class="r" id="comments{{comment.pk}}" >
        <a class="nontranslate" title="{{comment.author}}" href="{% url 'user_profile' userp=comment.author%}">{{ comment.author }}</a>
        <span>{{ comment.text }}</span>
        {% if user.is_authenticated and comment.author == user.username%}
            <button class="delcbut" type="button" data-toggle="tooltip"  title="Удалить коментарий" id="commentdel{{comment.pk}}"
             data-postpk="{{post.pk}}" data-commentpk="{{comment.pk}}">
             <span class="glyphicon glyphicon-remove" style="color:grey;font-size:0.7em;"></span></button>
        {% endif %}
      </li>
      {% endfor %}
      </div>
    </ul>
    <ul>
    <time class="date listdate" datetime="{{post.published_date}}" title="{{post.published_date}}">
      {{ post.published_date|naturaltime }}
    </time>
    <br></br>
    {% if user.is_authenticated %}
    <form id="commentform{{post.pk}}" class="commentform" method="post" action="/post/comment/" data-postpk={{post.pk}}>
      {% csrf_token %}
      <input type="text" class="commentinput" id="commeninput{{post.pk}}" name="commenttext" value="" placeholder="Напишите коментарий..." />
      <br />
      <input type="submit" style="display: none" /></input>
    </form>
    {% endif %}
    </ul>
  </div>

{% endfor %}
</div>

<div class="col-md-3" >
</div>


{% endblock %}
