{% extends 'blog/base.html' %}
{% load humanize %}
{% block content %}

<div class="col-md-1">
</div>

<div class="col-md-8 post">
      <div class="col-sm-8 piccol">
          <h1><img src=" {{ post.postpic.url }} " class="img-responsive postpic"   ></h1>
      </div>

        <div class="col-md-4">
        <div class="name">
        <strong><img src=" {{ post.author.profile.profpic.url }} " class="img-circle" height="35" width="35">  <a title="{{post.author}}" href="{% url 'user_profile' userp=post.author.username%}">{{ post.author }}</a></strong >
        {% if post.author != user and user.is_authenticated %}
            {% if post.author not in user.profile.subscribes.all%}
              </br>
              <a class="btn btn-info" href="{% url 'subscribe_to_user' targetuser=post.author %}">Подписаться</a>
            {% else %}
              </br>
              <a class="btn btn-danger" href="{% url 'unsubscribe_to_user' targetuser=post.author %}">Отписаться</a>
            {% endif %}
        {% endif %}
       </div>
        {% if user.is_authenticated %}
             {% if post.author == user or user.is_superuser%}
             <div>
                 <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                 <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
             </div>
             {% endif %}
             {% if user in post.likedone.all %}
               <button class="likebut" type="button" data-postpk="{{post.pk}}">
               <span class="glyphicon glyphicon-heart" style="font-size:2em;"></span></button>
             {% else %}
               <button class="likebut" type="button" data-postpk="{{post.pk}}">
               <span class="glyphicon glyphicon-heart-empty" style="font-size:2em;"></span></button>
             {% endif %}
             </br>
             <t><strong class="likesdone" id="{{post.pk}}">{{ post.likedone.count }} </strong><strong> отметок "Нравится"</strong></t>
        {% endif %}
        <br></br>
        <t>
          <a class="nontranslate" title="{{post.author}}" href="{% url 'user_profile' userp=post.author.username%}">{{ post.author }}</a>
          <span>{{ post.text|linebreaksbr }}</span>
        </t>
        <br></br>
    </div>
    <hr>
{% for comment in post.comments.all %}
<div class="comment" id="comments{{comment.pk}}">

  <a class="nontranslate" title="{{comment.author}}" href="{% url 'user_profile' userp=comment.author%}">{{ comment.author }}</a>
  <span>{{ comment.text }}</span>
  {% if user.is_authenticated and comment.author == user.username%}
       <button class="delcbut" type="button" data-toggle="tooltip"  title="Удалить коментарий" id="commentdel{{comment.pk}}"
       data-postpk="{{post.pk}}" data-commentpk="{{comment.pk}}">
       <span class="glyphicon glyphicon-remove" style="color:grey;font-size:0.7em;"></span></button>
  {% endif %}
</div>
{% empty %}
    <p>Комментариев пока нет.</p>
{% endfor %}
<br></br>
<time class="date" style="margin-left:10px; "datetime="{{post.published_date}}" title="{{post.published_date}}">
  {{ post.published_date|naturaltime }}
</time>

</div>
<div class="col-md-1">
</div>
{% endblock %}
