{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
      <p style="color: red">Что-то пошло не так. Попробуйте снова.</p>
    {% endif %}
    <div class = "user_edit">
    <form method="POST" class="post-form" enctype="multipart/form-data" >{% csrf_token %}
        <table>
        <tr>
            <td>Изменить изображение профиля</td>
            <td>{{ form.image }}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>{{ form.first_name }}</td>
        </tr>
        <tr>
            <td>О себе</td>
            <td>{{ form.description }}</td>
        </tr>
        </table>

        <button type="submit" class="btn btn-default">Отправить</button>
    </form>
    </div>
{% endblock %}
