{% extends 'blog/base.html' %}

{% block content %}
<div class="profile">
  {% if user.profile.profpic == '' %}
     <p><img src="https://ucarecdn.com/e6be98c7-6d8b-4b9b-952e-96dde496ba94/default_profile_picture.png" </p>
  {% else %}
    <p><img src={{profile.profpic}} </p>
  {% endif %}
  <br/>
  <input type="hidden" role="uploadcare-uploader" name="https://ucarecdn.com/:uuid/" data-crop="3:4" data-images-only />

  <a class="btn btn-default" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span></a></p>
  <br/>
  <p>{{posts.count}} публикаций {{user.profile.subscribers.count}} подписчиков  Подписки: {{user.profile.subscribes.count}}</p>
  <br/>
  <p>Мои публикации: </p>
  {% for post in posts %}
  <div class="post">
    <div class="date">
      <p>Опубликовано: {{ post.published_date }}</p>
    </div>
    <p>Автор: {{ post.author }}</p>
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
    <a href="{% url 'post_detail' pk=post.pk %}">Коментарии: {{ post.comments.count }}</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
