h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    margin-right: 150px;
    font-size: 24pt;

}
td {
   margin-right: 50px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.login{

     margin-top: 70px;

}
.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {

     margin-top: 70px;
    margin-bottom: 70px;
}

.well{

     margin-top: 70px;
}
.profile{

     margin-top: 70px;
}
.comment {
    margin: 20px 0px 20px 20px;
}

.avatarmodal, .subscribesmodal, .subscribersmodal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
