h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}
body, html, .content{
  height: 100%;
  background: WhiteSmoke;
}
.navbar-brand {
    font-family: 'Lobster', cursive;
    margin-right: 150px;
    font-size: 24pt;
}
.navbar{
  background-color: White;

  border: 1px #DCDCDC;
  border-style: groove ;
}
td {
   margin-right: 50px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.login{

     margin-top: 70px;

}
.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}



.post, .postedit {
     border-radius: 0;
     margin-top: 50px;
     margin-bottom: 50px;
     border: 1px #DCDCDC;
     border-style: groove;
     position: relative;
     max-width: 100%;
     width: 100%;
     background: White;
     overflow: hidden;
     display: block;
}

.pubhead{
     text-align: center;
     margin-left: 40%;
     font-size: 18px;
}
.infoline{
  font-size: 16px;
}

.profile_posts{
    position: relative;

    justify-content: center;
}

.profile_post {
    position: relative;
    max-width: 280px;
}


.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.profile_post img {
    width: 100%;
    height: auto;

}

.profile_post:hover .profile_post_pic {
  opacity: 0.4;
}

.profile_post:hover .middle {
  opacity: 1;
}

.posttext {
  opacity: 1;
  color: black;
  font-size: 24px;
  padding: 16px 32px;
}
.profile_post_pic{
    margin-right: 30px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    crop: fill;
    margin-bottom: 28px;
    position: relative;
}
.commentinput{

  margin-left: -6.8%;
  margin-bottom: -2.5%;
  width: 107%;
  min-height: 45px;
  height: 8%;
  position: relative;
}
.glyphicon-heart{
  color: darkred;
}
.glyphicon-heart-empty{
  color: black;
}
.profile_post_pic img {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
  }
.profile{
     margin-left: 30px;
     margin-top: 50px;
     width: 100%;
}

.profusername{
  font-size: 22px;
}


.piccol img{
  width:100%;
  height: auto;
  border: none;
  margin: 0;
  padding: 0;
}

.posttopline{
  margin-top: 10px;
  margin-bottom: -10px;
  margin-left: 10px;
  display: inline-block;
}
.wel{
     border-radius: 0;
     margin-top: 50px;
     margin-left: 30%;
     border: 1px #DCDCDC;
     border-style: groove;
     position: relative;
     max-width: 100%;
     width: 100%;
     background: White;
     overflow: hidden;
     display: block;
}
.col-md-7:first-child{
  margin-top: -40px;
}
.delcbut{
  position:relative;

}

.subtn{
  margin-top: -20px;
}

.nontranslate{
  font-weight: 600;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding-left: 5px;
margin-left: -5px;
}

.ul {
  list-style: none;
  display: block;
}
.r{

  overflow: hidden;
  padding-bottom: 6px;
  position: relative;
  word-wrap: break-word;
  margin-top: -5px;
  padding-top: 5px;
}

.r, .nocoms, .date, .likesdone, .likebut{
  margin-left: -30px;
}

.likebut, .delcbut{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
}

a:link,  a:visited, a:hover      {color:#000;text-decoration: none;}
.comment {
    margin: 20px 0px 20px 20px;

}
.dropdown {
    width: auto;
    position: relative;
    display: inline-block;
}
.myInput {
   padding: 20px;
   margin-top: -6px;
   border: 0;
   border-radius: 0;
   background: #f1f1f1;
 }

.middlesearch, .dropdown, .dropdown-menu{
  height:auto;
  width: auto;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
}

.container-fluid{
  display: block;
  height: 40px;
  justify-content: center;
  padding: 6px;
  width: 93%;
}

.avatarmodal, .subscribesmodal, .subscribersmodal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	display: none;
	pointer-events: none;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
